<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head >
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta content="ie=edge" http-equiv="x-ua-compatible" />
    <title>BemControlado</title>
    <link rel="stylesheet" href="/css/styles-listar.css.css"/>
</head>
<body>
<header th:fragment="header" >
    <div class="div-menu">
        <nav>
            <ul class="nav-menu">
                <li><a th:href="@{/}">Home</a></li>
                <li><a th:href="@{/filial}">Filial</a></li>
                <li><a th:href="@{/inventario}">Inventário </a></li>
                <li><a th:href="@{/categoria}">Categorias</a></li>

            </ul>
        </nav>
    </div>
    <!-- Menu de navegação -->

</header>



<!-- Coloque seus scripts JavaScript, links para arquivos .js, etc. aqui -->
</body>
</html>
