<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Adicionar Filial</title>
    <link   rel="stylesheet" href="/css/styles-create.css">
</head>
<body>
<h1>Adicionar Filial</h1>
<div class="div-form">
    <form th:object="${branch}" th:action="@{/atualizar-filial/{branchId}(branchId=${branch.id})}" method="post">
        <label for="name">Nome:</label>
        <input type="text" id="name" name="name" th:field="*{name}" required><br>

        <label for="address">Endereço:</label>
        <input type="text" id="address" name="address" th:field="*{address}" required><br>

        <label for="responsible">Responsavel:</label>
        <input type="text" id="responsible" name="responsible" th:field="*{responsible}" required><br>

        <label for="cnpj">CNPJ:</label>
        <input type="text" id="cnpj" name="cnpj" th:field="*{cnpj}" required><br>

        <button class="submit-button" type="submit" >Atualizar Filial</button>
    </form>
</div>



</body>
</html>
