input[type=text],input[type=email], input[type=number]{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.div-form{
    color: white;
    width: 50%;
    margin: 0 auto;
}

button.submit-button{
    width: 100%;
    background-color: #00a79d;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 18px;
}

button.submit-button:hover {
    background-color: #02413c;
}

div {
    border-radius: 5px;
    background-color: #59718c;
    padding: 20px;
}

body{
    background-color: #002855;
}
h1{
    color: white;
    text-align: center;
}